<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
    <div class="col">

        <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSubmit()">

            <!-- Nombre -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Nombre y apellido</label>
                <div class="col-sm-9">
                    <input type="text"
                        class="form-control"
                        formControlName="name"
                        placeholder="Nombre del usuario">

                        @if (formUtils.isValidField(myForm, 'name')) {
                            <span class="form-text text-danger">
                                <!-- {{ formUtils.getFieldError(myForm, 'name') }} -->
                                El campo requiere nombre y apellido
                            </span>
                        }
                </div>
            </div>

            <!-- Email -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email"
                        formControlName="email"
                        class="form-control"
                        placeholder="Email del usuario">
                        @if (formUtils.isValidField(myForm, 'email')) {
                            <span class="form-text text-danger">
                                {{ formUtils.getFieldError(myForm, 'email') }}
                            </span>
                        }
                </div>
            </div>

            <!-- Username -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input type="text"
                        formControlName="username"
                        class="form-control"
                        placeholder="Nombre código del usuario">

                    @if (formUtils.isValidField(myForm, 'username')) {
                        <span class="form-text text-danger">
                            {{ formUtils.getFieldError(myForm, 'username') }}
                        </span>
                    }
                </div>
            </div>

            <!-- Password -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input type="password"
                        formControlName="password"
                        class="form-control"
                        placeholder="Password de su cuenta">

                    @if (formUtils.isValidField(myForm, 'password')) {
                        <span class="form-text text-danger">
                            {{ formUtils.getFieldError(myForm, 'password') }}
                        </span>
                    }
                </div>
            </div>

            <!-- Password2 -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirmar</label>
                <div class="col-sm-9">
                    <input type="password"
                        formControlName="confirmPassword"
                        class="form-control"
                        placeholder="Confirmar la contraseña">

                    @if (formUtils.isValidField(myForm, 'confirmPassword')) {
                        <span class="form-text text-danger">
                            {{ formUtils.getFieldError(myForm, 'confirmPassword') }}
                        </span>
                    }
                </div>
            </div>


            <div class="row">
                <div class="col">
                    @if (myForm.errors && myForm.touched) {
                        <span class="text-danger">
                            Las contraseñas no son iguales
                        </span>
                    }
                    <button class="btn btn-primary float-end"
                            type="submit">
                        Crear
                    </button>
                </div>
            </div>


        </form>
    </div>
</div>


<h2>Form Valid: </h2>
<pre>{{ myForm.valid | json }}</pre>
<h2>Form Status: </h2>
<pre>{{ myForm.status | json }}</pre>
<h2>Form Pending: </h2>
<pre>{{ myForm.pending | json }}</pre>
<h2>Form errors</h2>
<pre>{{ myForm.errors | json }}</pre>
<pre>{{ myForm.value | json }}</pre>

<h5>Nombre</h5>
<pre>{{ myForm.controls['name'].value | json }}</pre>

<h5>Email</h5>
<pre>{{myForm.controls['email'].errors | json }}</pre>

<h5>Username</h5>
<pre>{{myForm.controls['username'].value | json }}</pre>


<h5>Password</h5>
<pre>{{myForm.controls['password'].value | json }}</pre>

<h5>Confirmar</h5>
<pre>{{myForm.controls['confirmPassword'].value | json }}</pre>
